.body {
  margin: 0px;
  background-color: white;
  margin-top: 1.5em;
}

.title,
p {
  font-weight: bold;
}

.inputbox {
  width: 90%;
  border: solid grey;
  height: 50px;
}

.button {
  color: #15154e;
  font-weight: bold;
  margin: 5px;
}

.button:hover {
  background-color: lightgrey;
}
