.commentCardBody {
  border: double;
  background-color: white;
  margin: 0.5em auto;
  text-align: left;
  width: 80%;
}

.commentInfo p {
  text-align: center;
  padding-top: 0px;
  color: grey;
}

.deleteSection,
.deletebutton {
  text-align: center;
}

.deletebutton {
  color: #15154e;
  font-weight: bold;
}

.deletebutton:hover {
  background-color: lightgray;
}

.deletebutton:disabled {
  display: none;
}

@media only screen and (max-width: 400px) {
  .button {
    font-size: 1.5em;
    background-color: white;
  }
  .button:active {
    background-color: lightgrey;
  }
}
