.error {
  background-color: #15154e;
  width: 30%;
  margin: auto;
  padding: 3em;
  color: white;
  margin: 2em auto;
}

.errorButton {
  padding: 0.5em;
  margin: 1em auto;
  font-weight: bold;
  font-size: 110%;
  background-color: white;
  color: #15154e;
  border: solid 4px #8c1f20;
}
