.button {
  padding: 1em;
  color: #15154e;
  font-weight: bold;
  border-bottom: solid;
  border-bottom-color: grey;
}

.button:hover {
  background-color: lightgray;
  border-color: 5px solid #15154e;
  border-bottom-color: #15154e;
}

@media only screen and (max-width: 400px) {
  .button {
    font-size: 11px;
    padding: 5px;
  }
}
