.voteButtons {
  display: flex;
  justify-content: center;
}

.button {
  padding: 10px;
  font-size: 2em;
  color: #15154e;
  border: none;
}

.button:hover {
  background: lightgray;
}

button:disabled {
  color: grey;
}

@media only screen and (max-width: 400px) {
  .button {
    font-size: 1em;
    background-color: white;
  }
  .button:active {
    background-color: lightgrey;
  }
}

.vote {
  text-align: center;
}
